@use "../src/styles/partials/mixin" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
a {
  text-decoration: none;
}
body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $mobile-font-size-body-medium;
  background-color: $color-background-light;

  @include tablet {
    font-size: $tablet-font-size-body-medium;
  }
}
