@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;

.InventoryItem {
  position: relative;
  &__content {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: flex-start;
    padding-top: 1rem;
    gap: 7rem;
  }

  &__block {
    padding-bottom: 1rem;
  }
  &__data {
    &--name {
      color: $color-primary-cta;
    }
    &--status {
      color: $color-error;
      background-color: #c9451517;
      border-radius: 0.5rem;
      padding: 0.2rem;
    }
  }

  &__type {
    color: $color-secondary-text;
  }
  &__logo {
    position: relative;
    top: 0.4rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
