@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;

.warehouse {
  background-color: $color-background-light;
  &__wrapper {
    position: relative;
    background-color: $color-global;
    top: -5rem;
    z-index: 1;
    height: 100%;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    margin: $mobile-margin;

    @include tablet {
      margin: $tablet-margin;
      top: -8.5rem;
    }
    @include desktop {
      margin: $desktop-margin;
      top: -11.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    border-bottom: 0.063rem solid $color-borders;
    padding: 0 1rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 1rem;
      border-bottom: none;
    }
  }
  &__topTitle {
    font-size: $mobile-font-size-header;
    font-weight: $font-weight-semi-bold;
    line-height: $mobile-header-line-height;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__input {
    border-radius: $border-radius;
    height: $element-mobile-height;
    border: 0.063rem solid $color-borders;
    padding: 0 1rem 0.25rem 1rem;
    font-family: $font-family;
    font-size: $mobile-font-size-label-button;
    @include tablet {
      width: 100%;
    }
  }
  &__logo {
    position: relative;
    height: 1.5rem;
    bottom: 1.8rem;
    left: 39%;
    @include tablet {
      top: 0.4rem;
      left: -10%;
      height: 1.2rem;
    }
  }
  &__button {
    color: $color-global;
    background-color: $color-primary-cta;
    border-radius: $border-radius;
    height: $element-mobile-height;
    border: 0.063rem solid $color-borders;
    padding: 0 1rem 0.25rem 1rem;
    font-size: $mobile-font-size-label-button;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    @include tablet {
      width: 20rem;
    }
  }
  &__titles {
    display: none;
    height: 3rem;
    background-color: $color-background-light;
    @include tablet {
      display: flex;
      align-items: center;
      padding-left: 2rem;
    }
  }
  &__title {
    color: $color-secondary-text;
    font-size: 1rem;
    display: flex;
    width: fit-content;

    &--name {
      width: 17vw;
    }
    &--type {
      width: 14vw;
      @include desktop {
        mini-width: 23vw;
      }
    }
    &--contactName {
      width: 19vw;
      @include desktop {
        width: 21vw;
      }
    }
    &--info {
      width: 27vw;
      @include desktop {
        width: 22vw;
      }
    }
    &--warehouse {
      width: 20%;
      max-width: 13rem;
      @include desktop {
        width: 16%;
        max-width: 17rem;
      }
    }
  }
  &__sort {
    &:hover {
      cursor: pointer;
    }
  }
}
