//Tablet and Desktop breakpont
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors

// Primary colors
$Primary-black: #13182c; // Black
$Primary-indigo: #2e66e5; // Indigo
$Primary-white: #ffffff; // White

// Secondary colors
$Secondary-slate: #5c667e; // Slate
$Secondary-cloud: #bdc5d5; // Cloud

// Background colors
$Background-graphite: #232940; // Graphite
$Background-light-grey: #f7f8f9; // Light Grey

// Supporting colors
$Supporting-green: #158463; // Green
$Supporting-red: #c94515; // Red
