//Tablet and Desktop breakpont
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary colors
$color-primary-text: #13182c; //Black
$color-primary-cta: #2e66e5; //Indigo
$color-global: #ffffff; //White

//Secondary colors
$color-secondary-text: #5c667e; //Slate
$color-borders: #bdc5d5; //Cloud

//Background colors
$color-background-dark: #232940; //Graphite
$color-cta-hover: #232940; //Graphite - Top navigation header background,CTA button hover state background
$color-background-light: #f7f8f9; //Light grey - Page background,table column header background, CTA background

//Supporting colors
$color-success: #158463;
$color-error: #c94515;

// text styles variables
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

$font-family: "TitilliumWeb", sans-serif;

// mobile font sizes
$mobile-font-size-header: 1.75rem; // 28px
$mobile-header-line-height: 2.25rem; // 36px

$mobile-font-size-sub-header: 1.25rem; // 20px
$mobile-sub-header-line-height: 1.75rem; // 28px

$mobile-font-size-label-button: 0.813rem; // 13px
$mobile-label-button-line-height: 1.25rem; // 20px

$mobile-font-size-body-large: 0.938rem; // 15px
$mobile-body-large-line-height: 1.625rem; // 26px

$mobile-font-size-body-medium: 0.813rem; // 13px
$mobile-body-medium-line-height: 1.25rem; // 20px

$mobile-font-size-body-small: 0.688rem; // 11px
$mobile-body-small-line-height: 1rem; // 16px

// Add tablet font sizes here

// mobile padding variables
$mobile-margin: 1rem; // 16px
$mobile-padding-top: 1.5rem; // 24px
$mobile-padding-bottom: 1rem; // 16px

// tablet padding variables
$tablet-padding-top: 3rem; // 48px;
$tablet-padding-bottom: 2.25rem; // 36px;
$tablet-margin: 2.25rem; // 36px;

$border-radius: 1.25rem; //20px
$element-mobile-height: 2.25rem; //36px
$element-tablet-height: 2.375; //38px


