@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__layer {
    @include tablet {
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: $Background-graphite;
      opacity: 0.8;
      top: 0;
      z-index: 0;
    }
  }

  &__window {
    background-color: $Primary-white;
    width: 100%;
    height: 100vh;
    position: relative;

    @include tablet {
      max-height: 18rem;
      width: 42rem;
      margin-left: calc((100% - 42rem) / 2);
      margin-top: 10rem;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    @include tablet {
      padding-bottom: 0;
    }
  }
  &__del {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    &:hover {
      outline: 3px solid $Primary-indigo;
    }
  }
  &__middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    @include tablet {
      padding: 0 10%;
    }
  }
  &__title {
    width: 100%;
    line-height: 2.5rem;
    margin-block-end: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__dec {
    width: 100%;
    line-height: 2rem;
  }
  &__bottom {
    position: absolute;
    width: 100%;
    bottom: 8%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 35%;
      right: 10%;
      bottom: 13%;
    }
  }
  &__button {
    font-weight: 600;
    color: $Secondary-slate;
    width: 47%;
    height: 2.5rem;
    border-radius: 50px;
    border: 1px solid $Secondary-slate;
    background-color: $Primary-white;
    transition: ease-in 0.2s;
    &:hover {
      background-color: $Secondary-slate;
      color: $Primary-white;
    }
    &:active {
      scale: 0.95;
    }
    &--del {
      border-color: $Supporting-red;
      background-color: $Supporting-red;
      color: $Primary-white;
      &:hover {
        background-color: $Primary-white;
        color: $Supporting-red;
        border: 3px solid $Supporting-red;
      }
    }
  }
}
