@use "../../styles/partials/variables" as *;

.footer {
  background-color: $Background-light-grey;
  display: flex;
  padding: 3rem;
  justify-content: center;
  color: $Secondary-slate;
  font-size: 0.8125rem;
}
