@use "../../styles/partials/variables" as *;

.footer {
  background-color: $color-background-light;
  display: flex;
  padding: 3rem;
  justify-content: center;
  color: $color-secondary-text;
  font-size: 0.8125rem;
}
