@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;

.Item {
  position: relative;
  border-bottom: 1px solid $color-borders;
  width: 100%;
  padding: 0 1rem 1.5rem 1rem;
  @include tablet {
    display: flex;
    height: 4rem;
    padding: 0.2rem 1rem 0rem 1rem;
  }

  &__content {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    padding-top: 1rem;
    gap: 3rem;
    @include tablet {
      gap: 0;
      width: fit-content;
    }
  }
  &__row {
    width: 40%;
    @include tablet {
      width: fit-content;
      display: flex;
      min-width: 15rem;
    }
  }

  &__block {
    padding-bottom: 1rem;
    height: 4rem;
    @include tablet {
      margin-right: 5vw;
    }
    &--name {
      @include tablet {
        width: 15vw;
        background-color: burlywood;
      }
    }
    &--type {
      @include tablet {
        width: 10vw;
        background-color: burlywood;
      }
    }
    &--stock {
      @include tablet {
        width: 11vw;
        background-color: burlywood;
      }
    }
    &--location {
      @include tablet {
        width: fit-content;
        background-color: burlywood;
      }
    }
    &--number {
      @include tablet {
        width: 6vw;
        background-color: aqua;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    @include tablet {
      width: max-content;
      min-width: 7rem;
      margin-right: 0;
    }
  }

  &__data {
    &--name {
      color: $color-primary-cta;
    }
  }

  &__status {
    width: fit-content;
    display: block;
    background-color: #c9451517;
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    &--out {
      color: $color-error;
    }
    @include tablet {
      width: fit-content;
    }
  }

  &__type {
    color: $color-secondary-text;
    @include tablet {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    @include tablet {
      width: 10rem;
      height: 100%;
      align-items: center;
      padding: 0;
      justify-content: space-evenly;
    }
  }
  &__button {
    border: none;
    background-color: transparent;
  }
}
