@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;

.header {
  background-color: $color-background-dark;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  position: relative;
  z-index: 0;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2rem;
    @include desktop {
      padding: 0 4rem;
    }
  }

  &__logo {
    height: 2rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    @include tablet {
      height: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
  }
  &__nav {
    @include tablet {
      margin-top: 1.1rem;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    color: $color-global;
    justify-content: space-around;
    list-style: none;
    gap: 7rem;
    @include tablet {
      width: 100%;
      gap: 1rem;
    }
  }
  &__link {
    color: $color-global;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    padding: 0.5rem 0;
    margin-bottom: 5rem;
    width: 7rem;
    transition: background-color 0.3s, padding 0.3s;
    @include tablet {
      margin-bottom: 8rem;
    }
    &:hover {
      background-color: $color-primary-text;
      border-radius: 15rem;
      border: 0.5rem transparent;
    }
    &--active {
      background-color: $color-primary-text;
      border-radius: 15rem;
      border: 0.5rem transparent;
    }
  }
}
