@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography" as *;


.warehouse-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Your font-family here', sans-serif;
    p {
        padding-bottom: .5rem;
    }
    &__row {
      display: flex;
      flex-wrap: wrap; /* Allow wrapping for responsiveness */
      margin: -10px; /* Adjust margin for gutters */
  
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
    &__label{
        color: $color-secondary-text;
    }
    &__cell {
      flex: 1;
      margin: 10px; /* Adjust margin for gutters */
  
      &--full {
        @media (max-width: 769px) {
          flex-basis: calc(100% - 20px); /* Adjust for gutter margin */
        }
      }
  
      &--half {
        @media (max-width: 769px) {
          flex-basis: calc(50% - 20px); /* Adjust for gutter margin */
        }
      }
  
      span {
        font-weight: bold;
      }
    }
  }
  
  @media (min-width: 768px) {
    .warehouse-details__cell {
      /* full-width cells on mobile */
      flex-basis: 100%;
    }
  }
  